@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

.text-dark2{
  color: rgba(66, 66, 66, 1);
}

.text-dark3{
  color: rgba(114, 114, 114, 1);
}

.text-primary{
  color: rgba(255, 144, 14, 1);
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: #ffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 21px 25px;
  border-radius: 8px;
  margin-top: 38px;
  border: none;
}

main{
  max-width:1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.section-title{
  font-size: 2.75rem;
  font-weight: 500;
}

/* header style */


/* navbar releted style */
.brand{
  font-size: 2.8rem;
}

.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-link{
  text-decoration: none;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
  font-size: 1.1rem;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner releted design */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}

.banner-description{
  font-weight: normal;
  font-size: 1rem;
  margin-top: 38px;
}

.banner-img{
  max-width: 100%;
}
/* teams and feature related style */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 73px;
  max-width: 537px;
}

#features{
  font-weight: 700;
  font-size: 45;
}
/* some facts releted style */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description{
  font-size: 1rem;
  max-width: 540px;
  margin-top: 24px;
  margin-bottom: 100px;
}

/* our sponsor releted style */
.sponsors-info{
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies{
  filter: grayscale(100%);
}

/* feature you will love section releted style */

#feature-title{
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding: 21px;
}
.feature-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

feature-card, .feature-title{
  font-weight:600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.love-features{
  gap: 140px;
}

#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -120px;
  margin-left: -100px;
}

#experience-year{
  font-size: 3rem;
  font-weight: 700;
}
.featured-architect img{
  width: 100%;
}

/* footer releted style */

.footer{
  font-size: 1.25rem;
  max-width: 620px;
  padding: 39px 410px;
  margin-top: 130px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}


/* Responsive Media Query */
@media screen and (max-width: 576px){
  .navbar, 
  .nav-links,
  .love-features,
  .teams{
    flex-direction: column;
  }

  .team-img-container, 
  .facts-container,
  .sponsor-companies{
    grid-template-columns: 1fr;
  }

  .facts-container,
  .sponsor-companies{
    justify-items: center;
    gap: 24px;
  }

  .our-features{
    margin-left: 22px;
    margin-right: 22px;
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }


}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin-left: 50px auto;
  }
}